*{
    font-family: 'Poppins',sans-serif;
} 
.register-container{
    display: flex;
    margin: auto;
    max-width: 800px;
    width: 60%;
    align-self: center;
    align-items: center;
    text-align: center;
    padding: 25px 30px;
}
.register-container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    width: 45%;
    margin-bottom: 15px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 5px;
    transition:  all 0.3s ease;
}
.user-details .input-box .password__section input{
    border: none;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #61b659;
}
.input-box .password__section{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-bottom-width: 5px;
    border-radius: 5px;
    padding-right: 5px;
}


form  .button{
    outline: none;
    color: #fff;
    border: none;
    background: linear-gradient(135deg, #9b59b6,#71b7e6);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 10px 10px;
    width: 100%;
}
@media(max-width: 584px){
    .register-container{
        max-width: 100%;
    }
    form .user-details .input-box{
        width: 100%;
        margin-bottom: 15px
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}