.user__detail__container{
    display: flex;
    width: 100vw;
    /* justify-content: space-between; */
}
.user__list{
    margin: 2rem;
    /* width: 100%; */
    padding: 10px;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
}
.user__detail__container .user__list img{
    max-height: 15rem;
    width: 25rem;
    border-radius: 1rem;
}
.user__detail__container .user__body_contents{
    display: flex;
    border: 1px solid blue;
    max-height: 2rem;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.user__body-contents span{
    background-color: red;
    padding: .2rem;
    border-radius: 10px;
    /* background-color: rgb(44, 228, 44); */
}