.modal{
    /* width: 50rem; */
    max-width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 10vh;
    text-align: center;
    right: 5%;
}
.modal__header{
    padding: 1rem;
    background: #5101d1;
    color: white;
}
.btn{
    background-color: #5101d1;
    font: inherit;
    border:  1px solid #5101d1;
    border-radius: 3px;
    padding:  0.25rem 1rem;
    margin: 1rem;
    box-shadow: 1px 1px 5px;
    color: #fff;
    cursor: pointer;
}
.modal__header h1{
    margin: 0;
    font-size: 1.25rem;
}
.modal__content{
    padding: 1rem;
}
.modal__content span{
    background-color: red;
    padding: .5rem;
    border-radius: 10px;
    /* background-color: rgb(44, 228, 44); */
}
.modal__action{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
@media(min-width: 768px){
    .modal{
        width: 30rem;
        left: calc((100%-30rem)/2);
    }
} 
