.user__nav{
    width: 98%;
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    
}
.user__nav p{
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    width: 250px;
    margin: 0 auto;
    color: white;
    font-size: 1rem;
}