.body-contents{
    display: flex;
    border: 1px solid blue;
    width: 98%;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.body-contents .pending{
    background-color: rgb(243, 9, 9);
    padding: .5rem;
    border-radius: 10px;
    /* background-color: rgb(44, 228, 44); */
}
.body-contents .paid{
    background-color: rgb(28, 243, 9);
    padding: .5rem;
    border-radius: 10px;
    /* background-color: rgb(44, 228, 44); */
}